@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">API Test</h1>
    <p>
        <button onclick="sendRequest('GetTest', 'GET')" class="btn btn-primary">GET Test</button>
        <button onclick="sendRequest('PostTest', 'POST')" class="btn btn-success">POST Test</button>
        <button onclick="sendRequest('PutTest', 'PUT')" class="btn btn-warning">PUT Test</button>
        <button onclick="sendRequest('PatchTest', 'PATCH')" class="btn btn-danger">PATCH Test</button>
        <button onclick="sendRequest('GetCurrent', 'GET')" class="btn btn-info">GetCurrent </button>
    </p>
    <pre id="response"></pre>
</div>

@section Scripts {
  
    <script>
        function sendRequest(action, method) {
            var newUrl = "/Person/" + action;
            $.ajax({
                url: newUrl,
                method: method,
                success: function (response) {
                    $('#response').text(response);
                },
                error: function (error) {
                    console.error('Error:', error);
                    $('#response').text('An error occurred');
                }
            });
        }
    </script>
}
